@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
.body--container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  height: 100vh;
  background-color: aqua;
}

.bubble--container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  height: 100vh;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 50%;
  text-align: center;
  font-size: 40px;
  z-index: 3;
  color: #373570;
}

.bubble {
  z-index: 2;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(241, 245, 7);
}

.bubble--one {
  width: 75px;
  height: 75px;
  left: 300px;
  top: 300px;
  background-color: #e6490b;
}

.bubble--two {
  top: 400px;
  right: 300px;
  background-color: #e215c7;
}

.bubble--three {
  bottom: 400px;
  left: 400px;
  background-color: #50e714;
}



@media (max-width: 1000px) {
  .text {
    width: 80%;
    font-size: 30px;
  }

  .bubble--one {
    left: 100px;
  }

  .bubble--two {
    right: 100px;
  }
  .bubble--three {
    left: 100px;
  }

  
}